.grid-container {
    display: grid;
    gap: 25px;
    background-color:aliceblue;
    height:660px;
    width:100%;
    padding: 10px;
  }
  
  .grid-item {
    background-color: white;
    
    border-radius: 15px 15px 15px 15px;
    
    
  }
  
  .item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: aliceblue;
  }
  
  .item2 {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  
  .item5 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .table-padding{
          margin-left: 5px;
      }
  .wrapper {
        background-color: blueviolet;
        height: 70px;
        width:100%;
        color:white;
        border-radius:15px 15px 0px 0px;
        padding:0px 0px 0px 0px;
      }
  

  .container {
    display: flex;
    
}

.text-container {
    flex: 1;
    
}

.image-container {
    flex: 1;
    
    text-align: right;
   
}
#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    flex: 1;
  }

  .select-tags {
    display: flex;
    gap: 10px;
  }
  .select-tags select {
 

 background-color: #778899;
}

.timeline{
  padding:10px;
  display:grid;
  grid-template-columns: 140px 3px auto;
  margin-top:20px;

}
.timeline_component{
  margin:0 20px 5px 5px;
}
.timeline_date_right{
  text-align:right;
}
.timeline_middle{
  position:relative;
  
}
.timeline_point{
  position:absolute;
  top:0px;
  left:50%;
  transform:translateX(-50%);
  width:15px;
  height:15px;
  background:blueviolet;

  border-radius: 50%;
}

.top_place{
  position:absolute;
  top:10px;
  right:20px;
  width: 480px;
  
}
.feeposition{
  position:absolute;
  left:20px;
  bottom:20px;
}
.selected_tags{
  display:flex;
  height:55px;
  
  gap:15px;
  
}
.selected_tags select{
  background-color: #778899;
  padding:3px 7px 4px 7px;
  color:darkblue;
}